{% extends "bootstrap/base.html" %}
{% block title %}Flask-MQTT example{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gauge.js/1.2.1/gauge.min.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    //var socket = io.connect('http://' + document.domain + ':' + location.port, {secure: true});
    var socket = io.connect('/');

    var topicSensor = "sensor/#";
    // var topicActuator = "actuator/#";

    var sensorControlTopic = "sensor/control";
    var sensorConfigTopic = "sensor/config";

    var turnOnMsg = "TURN ON";
    var turnOffMsg = "TURN OFF";
    var autoMsg = "AUTO";

    var qos = 0;
    var dataSensors = '{"topic": "' + topicSensor + '", "qos": ' + qos + '}';
    // var dataActuator = '{"topic": "' + topicActuator + '", "qos": ' + qos + '}';
    socket.emit('subscribe', data=dataSensors);
    // socket.emit('subscribe', data=dataActuator);

    //var xValues = new Array();
    var xValues = [-9,-8,-7,-6,-5,-4,-3,-2,-1,0]

    var yTemp = [0,0,0,0,0,0,0,0,0,0];
    var yHumidity = [0,0,0,0,0,0,0,0,0,0];

    var xTempBar = ["Temperature"];
    var xHumidBar = ["Humidity"];

    var currentTemp = [0];
    var currentHumid = [0];

    // var chartData = [ {x: 1, y:1},
    //                   {x: 2, y:2},
    //                   {x: 3, y:1},
    //                   {x: 4, y:2},
    //                   {x: 5, y:1},
    //                   {x: 6, y:2},
    //                   {x: 7, y:1},
    //                   {x: 8, y:2} ]

    tempChart = new Chart("tempChart", {
    type: "line",
    data: {
      labels: xValues,
      datasets: [{
        label: "Temperature (˚C)",
        showInLegend: true, 
        borderColor: "red",
        data: yTemp,
        fill: true
        }]
      },
      options:{
      responsive: true
      }
    });

    humidChart = new Chart("humidChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          label: "Humidity (%)",
          showInLegend: true, 
          borderColor: "blue",
          data: yHumidity,
          fill: true
        }]
      },
        options:{
          responsive: true
        }
    });

    var optsTemp = {
      colorStart: '#291B00',
      colorStop: '#FF0000',
      
    };

    var optsHumid = {
      colorStart: '#001B29',
      colorStop: '#0000FF'
    };

    var targetTemp = document.getElementById('gauge_temp'); 
    var gaugeTemp = new Gauge(targetTemp).setOptions(optsTemp);
    
    var targetHumid = document.getElementById('gauge_humid'); 
    var gaugeHumid = new Gauge(targetHumid).setOptions(optsHumid);

    document.getElementById("currentTemp").className = "currentTemp";
    gaugeTemp.setTextField(document.getElementById("currentTemp"));

    document.getElementById("currentHumid").className = "currentHumid";
    gaugeHumid.setTextField(document.getElementById("currentHumid"));

    gaugeTemp.maxValue = 50;
    gaugeTemp.setMinValue(0); 
    gaugeTemp.set(0);

    gaugeHumid.maxValue = 100;
    gaugeHumid.setMinValue(0); 
    gaugeHumid.set(0);

      $('#publish-config').click(function(event) {
        var topic = sensorConfigTopic;
        var message = $('#threshold').val();
        var qos = 0;
        var data = '{"topic": "' + topic + '", "message": "' + message + '", "qos": ' + qos + '}';
        socket.emit('publish', data=data);
      });

      $('#control-on').click(function(event) {
        var topic = sensorControlTopic;
        var message = turnOnMsg;
        var qos = 0;
        var data = '{"topic": "' + topic + '", "message": "' + message + '", "qos": ' + qos + '}';
        socket.emit('publish', data=data);
      });

      $('#control-off').click(function(event) {
        var topic = sensorControlTopic;
        var message = turnOffMsg;
        var qos = 0;
        var data = '{"topic": "' + topic + '", "message": "' + message + '", "qos": ' + qos + '}';
        socket.emit('publish', data=data);
      });

      $('#control-auto').click(function(event) {
        var topic = sensorControlTopic;
        var message = autoMsg;
        var qos = 0;
        var data = '{"topic": "' + topic + '", "message": "' + message + '", "qos": ' + qos + '}';
        socket.emit('publish', data=data);
      });

      // $('#subscribe').click(function(event) {
      //   var topic = $('#subscribe_topic').val();
      //   var qos = $('#subscribe_qos').val();
      //   var data = '{"topic": "' + topic + '", "qos": ' + qos + '}';
      //   socket.emit('subscribe', data=data);
      //   $('#subscribe').hide();
      //   $('#unsubscribe').show();
      //   $('#subscribe_topic').prop('readonly', true);
      // });

      // $('#unsubscribe').click(function(event) {
      //   socket.emit('unsubscribe_all');
      //   $('#subscribe').show();
      //   $('#unsubscribe').hide();
      //   $('#subscribe_topic').prop('readonly', false);
      // });

    socket.on('mqtt_message', function(data) {
      console.log(data);
      var text = '(' + data['topic'] + ' qos: ' + data['qos'] + ') ' + data['payload'];
      var $textarea = $('#subscribe_messages');
      //$textarea.val($textarea.val() + text + '\n');
      if (data['topic'] == "sensor/temperature") {
        for (let i = 0; i<9; i++) {
      	  yTemp[i] = yTemp[i+1];
        }
        yTemp[9] = JSON.parse(data['payload']);
        tempChart.update();
        gaugeTemp.set(yTemp[9]);
      }
      if (data['topic'] == "sensor/humidity") {
        for (let i = 0; i<9; i++) {
      	  yHumidity[i] = yHumidity[i+1];
        }
        yHumidity[9] = JSON.parse(data['payload']);
        humidChart.update();
        gaugeHumid.set(yHumidity[9]);
      }
    })
  });

</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>IOT smart home dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sensor node 1: temp and humidity</h3>
        </div>
        <div class="panel-body">
          <h2>Temperature and humidity history</h1>
          <canvas id="tempChart" style="width:100%;max-width:700px"></canvas>
          <canvas id="humidChart" style="width:100%;max-width:700px"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sensor node 1: temp and humidity</h3>
        </div>
        <div class="panel-body">
          <h2>Current temperature</h1>
          <div>
            <canvas id="gauge_temp"></canvas>
            <div>
              <p>
                Temperature
                <div id="currentTemp"></div>
                in degrees Celsius
              </p>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <h2>Current humidity</h1>
          <div>
            <canvas id="gauge_humid"></canvas>
            <div>
              <p>
                Humidity percentage: 
                <div id="currentHumid"></div> 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Actuator node 1: Dehumidifier</div>
        </div>
        <div class="panel-body">
          <h2>Select an override mode or auto</h1>
          <button id="control-on" >Override ON</button>
          <button id="control-off" >Override OFF</button>
          <button id="control-auto" >Mode: auto</button>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">Actuator node 1: Dehumidifier</div>
        </div>
        <div class="panel-body">
          <h2>Set threshold for humidity for mode: auto</h1>
          <input id="threshold" class="form-control"> <button id="publish-config">Set threshold</button>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}